<%= render 'header' %>

<div class="activity">
  <h1>DINING</h1>
  <div class="horizontal_section">
    <% dining = @all_activities.select { |s| s.activity_type == "dining" } %>
    <% dining.each do |a| %>
      <%= link_to a do %>
        <div class="activity_box">
          <div class="activity_image"><%= image_tag a.image %></div>
          <div class="info_overlay"><%= a.name %> <font color="#888888">(<%= a.distance %> miles away)</font></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="activity">
  <div class="small-12 large-12 columns large-centered">
    <h1>SHOWS</h1>
    <div class="horizontal_section">
      <% shows = @all_activities.select { |s| s.activity_type == "show" } %>
      <% shows.each do |a| %>
        <%= link_to a do %>
          <div class="activity_box">
            <div class="activity_image"><%= image_tag a.image %></div>
            <div class="info_overlay"><%= a.name %> <font color="#888888">(<%= a.distance %> miles away)</font></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="activity">
  <div class="small-12 large-12 columns large-centered">
    <h1>NIGHTCLUBS</h1>
    <div class="horizontal_section">
      <% nightclubs = @all_activities.select { |s| s.activity_type == "nightclub" } %>
      <% nightclubs.each do |a| %>
        <%= link_to a do %>
          <div class="activity_box">
            <div class="activity_image"><%= image_tag a.image %></div>
            <div class="info_overlay"><%= a.name %> <font color="#888888">(<%= a.distance %> miles away)</font></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="activity">
  <div class="small-12 large-12 columns large-centered">
    <h1>CASINOS</h1>
    <div class="horizontal_section">
      <% casinos = @all_activities.select { |s| s.activity_type == "casino" } %>
      <% casinos.each do |a| %>
        <%= link_to a do %>
          <div class="activity_box">
            <div class="activity_image"><%= image_tag a.image %></div>
            <div class="info_overlay"><%= a.name %> <font color="#888888">(<%= a.distance %> miles away)</font></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="activity">
  <div class="small-12 large-12 columns large-centered">
    <h1>DAYCLUBS</h1>
    <div class="horizontal_section">
      <% dayclubs = @all_activities.select { |s| s.activity_type == "dayclub" } %>
      <% dayclubs.each do |a| %>
        <%= link_to a do %>
          <div class="activity_box">
            <div class="activity_image"><%= image_tag a.image %></div>
            <div class="info_overlay"><%= a.name %> <font color="#888888">(<%= a.distance %> miles away)</font></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>