<div class="row">
  <div class="small-6 large-6 columns">
    <%= current_user.name %> <br />
    <small><%= link_to "Sign out", signout_path, id: "sign_out" %></small>
  </div>
  <div class="small-6 large-6 columns right">
    <%= link_to "My Activities", '#' %>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns large-centered">
    <h1>Brunch</h1>
    <div class="horizontal_section">
      <div class="activity_image"><%= image_tag '/assets/restaurant1.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant2.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant3.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant4.jpg' %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns large-centered">
    <h1>Dayclubs</h1>
    <div class="horizontal_section">
      <div class="activity_image"><%= image_tag '/assets/restaurant1.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant2.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant3.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant4.jpg' %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns large-centered">
    <h1>Dinner</h1>
    <div class="horizontal_section">
      <div class="activity_image"><%= image_tag '/assets/restaurant1.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant2.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant3.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant4.jpg' %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns large-centered">
    <h1>Nightclubs</h1>
    <div class="horizontal_section">
      <div class="activity_image"><%= image_tag '/assets/restaurant1.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant2.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant3.jpg' %></div>
      <div class="activity_image"><%= image_tag '/assets/restaurant4.jpg' %></div>
    </div>
  </div>
</div>