<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Location:</b>
  <%= @restaurant.location %>
</p>

<p>
  <b>Rating:</b>
  <%= @restaurant.rating %>
</p>

<p>
  <b>Image:</b>
  <%= @restaurant.image %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
