<%= image_tag @activity.image %>

<h1><span class="pull-left"><%= @activity.name %></span></h1>
<span class="subheader"><%= @activity.location %></span>

<p>
  <b>Time:</b>
  <%= @activity.time %>
</p>

<p><%= @activity.description %></p>

<center>
<h2>$<%= @activity.price %></h2>

<p>[Buy button]</p>
</center>
