<%= image_tag @activity.image %>

<div class="description">
<h1><span class="pull-left"><%= @activity.name %></span></h1>
<span class="subheader"><%= @activity.location %></span>
<p>Time: <%= @activity.time %></p>

<p><%= @activity.description %></p>

</div>

<%= render 'carts/cartbutton' %>
