<div class="image_header">
  <div class="header_info">
    <small><%= link_to "Back", current_user %></small>
  </div>
</div>

<%= image_tag @activity.image %>

<div class="description">
<h1><span class="pull-left"><%= @activity.name %></span></h1>
<span class="subheader"><%= @activity.location %> (<%= @activity.distance %> miles away)</span>
<p>Time: <%= @activity.time %></p>

<p><%= @activity.description %></p>

</div>

<%= render 'carts/cartbutton' %>
